.navbar {
	background-color: #09272d;
}

* {
	outline: none;
}

.navbar-brand {
	color:#F0F0F0!important;
}

.navbar-toggler {
	color:#990000!important;
	border-color:#94d500!important;
	border-width: 2px!important;
	background-color: #94d500!important;

}

.navbar-toggler:hover {
	border-width: 2px!important;
	border-color:#00ddff!important;
}

.navbar-toggler:focus {
	outline: none;
}

.nav-link {
	color: #94d500 !important;
	font-weight: 200;
}

.nav-link:hover {
	color: #d5d5d5 !important;
}
